# Model
torch==2.2.0
scikit-learn
xgboost
numpy
pandas
matplotlib
plotly
h5py
joblib
# Backend
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
# Vis
shap
seaborn
statsmodels
umap-learn
umap-learn[plot]